<!--<form #donne="ngForm" (ngSubmit)="onSumbit(donne)"> 
    <input type="text" name="monitem" ngModel />
    <input type="submit" value="Envoyer l'item" >
</form>

<ul *ngIf="tdlService.observable | async as tdls" >
    <li *ngFor="let item of tdls.items; trackBy:trackById">
        <input type="checkbox" [ngModel]='item.isDone' (ngModelChange)="tdlService.update({ isDone: $event }, item)" />
        <input type="text" [ngModel]="item.label" (ngModelChange)="tdlService.update({label:$event}, item)"/>
        <input type="button" value="Delete" (click)="tdlService.delete(item)"/>
    </li>
</ul>

<pre>{{liststorage | json}}</pre>-->
<div *ngIf="auth.user | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <img src="{{user.photoURL}}" width="50" height="50"/>
    <button (click)="logout()">Se déconnecter</button>
  </div>
  <ng-template #showLogin>
    <p>Merci de vous connecter </p>
    <button (click)="login()">Se connecter avec Google</button>
  </ng-template>

  <app-todo-list></app-todo-list>